.horizontal-alignment-center
{
	text-align: center;
	align-self: center;
	display: block;
	margin: 0 auto 0 auto;
}

.horizontal-alignment-fill
{
	text-align: justify;
	align-self: stretch;
}

.horizontal-alignment-left
{
	text-align: left;
	align-self: flex-start;
}

.horizontal-alignment-right
{
	text-align: right;
	align-self: flex-end;
}

.vertical-alignment-center 
{
	vertical-align: middle;
}

.vertical-alignment-fill
{
	vertical-align: auto;
}

.vertical-alignment-top
{
	vertical-align: top;
}

.vertical-alignment-bottom
{
	vertical-align: bottom;
}

body
{
	margin: 0;
	padding: 0;
}