<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.okhosting.ui.xamarin.android">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="OKHOSTING.UI.Xamarin.Android">
	</application>
</manifest>
